.btn {

    transition: background-color 0.3s ease;
}

.navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 500;
}

.block-buttom-right {
    position: absolute;
    bottom: 10px;
    right: 45px;
    font-size: 12px !important;
}

@media (max-width: 1280px) {
    .block-buttom-right {
        position: inherit !important;
    }
}

.p-lr-lg {
    padding-left: 30px;
    padding-right: 30px;
}

.p-lr-md {
    padding-left: 15px;
    padding-right: 15px;
}

.block-buttom-right strong {
    color: #555;
}

a:hover {
    color: #FF800A;
    transition: color 0.3s ease;
}

.panel .nav.pull-right a:hover {
    color: #FF800A !important;
    transition: color 0.3s ease;
}

.list-group .list-group-item h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-group .list-group-item:hover h5 a {
    color: #FF800A;
    transition: color 0.3s ease;
}

.btn-default {
    background: #f8f8f8;
}

.btn-default:hover {
    border-color: #FF800A;
    color: #FF800A !important;
    transition: all 0.3s ease;
}

.statistic {
    margin-bottom: 15px;
}
.statistic .row a.block {
    background-color: #fff;
    padding: 10px 10px 15px !important;
    border: #ccc 1px solid;
    border-radius: 2px;
}

.statistic .row .block .h3 {
    font-size: 20px !important;
    padding-top: 2px;
}

.panel-body-full .list-group {
    margin-bottom: 5px
}

.nav-primary > ul > li:hover > a, .nav-primary > ul > li:focus > a, .nav-primary > ul > li:active > a, .nav-primary > ul > li.active > a {
    color: #FF800A;
}

.btn-warning {
    border-color: #FF800A;
}

.btn-warning:hover {
    background: #f27a0a;
    border-color: #f27a0a;
}

.panel-heading .nav > li.active > a {
        color: #0c0c0c;
    background-color: #ffffff;
}

.no-b-b {
    border-bottom: none !important;
}

.no-b-t {
    border-top: none !important;
}

.list-border {
    border-bottom: #e7e7e7 2px solid;
    height: 3px;
    padding: 0 10px;
    margin: 10px 0;
}

.small-slt {
    font-size: 13px;
    text-align: center;
}

@media (min-width: 768px) {
    .vbox > header ~ section {
        top: 72px;
    }
}

header.header {
    padding-top: 10px;
}

header.header .breadcrumb {
    padding: 0;
    margin: 0;
}

header.header p {
    margin-bottom: 5px;
    margin-top: 6px;
    font-size: 17px !important;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: normal;
}

.breadcrumb li img {
    height: 16px;
    padding: 0 7px;
}

strong.badge-light {
    border: #cecece 1px solid;
    color: #555;
    border-radius: 2px;
    font-weight: 300 !important;
    min-width: 35px;
    text-align: center;
}

strong.badge {
    font-size: 12px !important;
}